<!DOCTYPE html>
<html>
<head>
  <title>WeightliftingLog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header class="jumbotron">
    <div class="col-xs-6">
      Weightlifting Log      
    </div>
    <div class="links">
      <%= link_to 'Add a Workout', '#' %>
      <%= link_to 'New PR', '#' %>
    </div>
  </header>

  <br class="clear"/>
<%= yield %>

</body>
</html>
